.header{
    display: flex;
    justify-content: space-between;
    background: #91d5f5;
box-shadow:  10px 10px 20px #d4d4d4,
             -10px -10px 20px #ffffff;
}
.left{
    display: flex;
    .leftChild{
        padding: 30px 20px;

        &:hover{
            background-color: rgb(200, 224, 233);
            cursor: pointer;
        }
    }
}
.logout{
    display: flex;
    padding: 30px 20px;
    &:hover{
        background-color: rgb(200, 224, 233);
        cursor: pointer;
    }
}