.blog{
    border: 1px solid rgb(187, 187, 187);
    padding: 15px;
    margin-bottom: 2rem;
}
.user{
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.1rem;
}
.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.description{
    color: rgb(136, 136, 136);
    margin-bottom: 15px;
    font-size: 1.2rem;

}
.date{
    color: rgb(136, 136, 136);
}