.actions{
    display: flex;
    margin-top: 15px;
    font-size: 1.2rem;
     .actBtn{
        margin-right: 10px;
     }
     .delete{
      padding: 10px 20px;

      color: red;
        &:hover{
            cursor: pointer;
            color: black;
            border-radius: 50px;
background: #eb6d6d;
box-shadow:  10px 10px 30px #e96060,
             -10px -10px 30px #da5858;
        }
     }
}